html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 10px;
}

.option {
  position: absolute;
  bottom: 0;
  background: black;
  height: 8rem;
  width: 4.5rem;
  -moz-transition: -moz-transform .5s;
}

.option-left {
  border-radius: 0 5rem 5rem 0;
  -moz-transform: translateX(-4.5rem);
  left: 0;
}

.option-right {
  border-radius: 5rem 0 0 5rem;
  left: -moz-calc(100% - 4.5rem);
  -moz-transform: translateX(4.5rem);
}

.icon-back {
  margin: 2.5rem .3rem;
  width: 3rem;
  height: 3rem;
  background-image: url('images/ActionIcons_30x30_back_browser.png');
}

.icon-forward {
  margin: 2.5rem 1.2rem;
  width: 3rem;
  height: 3rem;
  background-image: url('images/ActionIcons_30x30_forward_browser.png');
}

#app {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

#loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
