html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 10px;
}

iframe {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: -moz-calc(100% - 4.5rem);
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

menu[type="toolbar"] {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: solid 2px #a6b3bb;
  height: 4.5rem;
  background-color: #fff;
  background-image: -moz-linear-gradient(#323639, #272b2e);
  margin: 0;
  padding: 0;
}

menu button {
  background-color: transparent;
  -moz-appearance: none;
  border: none;
  display: block;
  margin: 0;
  padding: 0;
  width: 80px;
  height: 100%;
  float: left;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

#back-button {
  background-image: url("images/back.png");
}

#back-button:active {
  background-image: url("images/back-pressed.png");
}

#back-button[data-disabled] {
  background-image: url("images/back-disabled.png");
}

input::-moz-focus-inner {
  border: 0;
}
