    #infoclose-link {
        background: transparent url('/everything.me/images/sprite_info.png') 0 -37px no-repeat;
        position: absolute;
        top: 11px;
        right: 10px;
        width: 25px;
        height: 25px;
        z-index: 50;
        cursor: pointer;
    }
    #infoclose-link:before {
        content: "";
        position: absolute;
        top: -11px;
        right: -10px;
        width: 50px;
        height: 50px;
    }
    #info #info-home {
        position: absolute;
        z-index: 50;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 30px 35px 0 35px;
    }
    .orientation-landscape #info #info-home {
        padding-left: 22px;
        padding-right: 22px;
    }
        #info .logo {
            color: #ce8cba;
            font-size: 15px;
        }
            #info .logo:before {
                content: "";
                display: inline-block;
                background: transparent url('/everything.me/images/sprite_info.png') 0 0 no-repeat;
                width: 158px;
                height: 23px;
                vertical-align: middle;
            }
            #info .logo span {
                opacity: .6;
                margin-left: 3px;
                text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
                vertical-align: middle;
            }
            #info-title {
                font-weight: normal;
                font-size: 22px;
                color: #84d5f7;
            }
    
    #info .menu {
        position: relative;
    }
    #info #info-home .menu {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    #info .buttons {
        position: absolute;
        top: 50%;
        margin-top: -68px;
        left: 35px;
        right: 35px;
        list-style-type: none;
    }
    .orientation-landscape #info .buttons {
        right: auto;
        width: 210px;
        left: 22px;
        -moz-transform: translateY(42px);
        -webkit-transform: translateY(42px);
        -ms-transform: translateY(42px);
        transform: translateY(42px);
    }
        #info .buttons .button {
            position: relative;
            display: block;
            font-size: 17px;
            height: 39px;
            line-height: 39px;
            margin-bottom: 6px;
            cursor: pointer;
            text-align: center;
            font-weight: bold;
            color: #1d2223;
            text-shadow: 0 1px 0 rgba(255, 255, 255, .6);
            border: 1px solid #6ba1b9;
            border-top-color: #82bcd0;
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
            -o-border-radius: 6px;
            border-radius: 6px;
            font-family: 'Helvetica Neue', 'Helvetica', Arial, Sans-Serif;
            background: #054b62;
            background: -moz-linear-gradient(center top, #d8ecf3 0%, #bfdee9 50%, #b4dae7 50%, #88c3d7 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d8ecf3), color-stop(50%, #bfdee9), color-stop(50%, #b4dae7), color-stop(100%, #88c3d7));
        }
        #info .buttons .button:hover {
            opacity: .7;
        }

    #info .follow {
        position: absolute;
        left: 35px;
        right: 35px;
        bottom: 16px;
    }
    .orientation-landscape #info .follow {
        left: 250px;
        bottom: auto;
        top: 50%;
        margin-top: -32px;
    }
        #info .follow h3 {
            font-weight: normal;
            font-size: 15px;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, .4);
        }
        #info .follow ul {
            list-style-type: none;
        }
        #info .follow li {
            position: relative;
            margin-top: 6px;
        }
            #info .follow li a {
                position: relative;
                padding-left: 35px;
                display: table-cell;
                height: 30px;
                line-height: 100%;
                vertical-align: middle;
                color: #84d5f7;
                text-decoration: none;
            }
                #info .follow li a span {
                    margin-right: -3px;
                }
            #info .follow li a:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 44px;
                height: 44px;
                margin-right: 5px;
                -moz-transform-origin: 0 0;
                -webkit-transform-origin: 0 0;
                -ms-transform-origin: 0 0;
                transform-origin: 0 0;
                -moz-transform: scale(.8);
                -webkit-transform: scale(.8);
                -ms-transform: scale(.8);
                transform: scale(.8);
            }
            #info .follow li.facebook a:before {
                background-position: 0 -78px;
            }
            #info .follow li.twitter a:before {
                top: -1px;
                background-position: 0 -125px;
            }
    #info-page {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
    }
        #info-page .header {
            position: relative;
            height: 50px;
        }
            #info-page .header .logo {
                position: absolute;
                top: 12px;
                left: 50px;
            }
                #info-page .header .logo:before {
                    opacity: .4;
                }
            #info-page .header .back {
                background: transparent url('/everything.me/images/sprite_info.png') -66px -37px no-repeat;
                position: absolute;
                top: 12px;
                left: 18px;
                width: 26px;
                height: 25px;
                cursor: pointer;
            }
                #info-page .header .back:before {
                    content: "";
                    position: absolute;
                    top: -12px;
                    left: -18px;
                    width: 50px;
                    height: 50px;
                }
        #info-page .android {
            display: none;
        }
        #info #info-page .menu {
            position: relative;
            height: 220px;
        }
            #info #info-page .menu .buttons {
                top: 5px;
                margin-top: 0;
            }
            #info #info-page .menu .follow {
                margin-bottom: 0;
            }
            #info #info-page .menu h3 {
                color: #fff;
            }
        .orientation-landscape #info #info-page .menu {
            height: 120px;
        }
            .orientation-landscape #info #info-page .menu .buttons {
                left: 0;
                top: 50%;
                margin-top: -44px;
                -moz-transform: translateY(0);
                -webkit-transform: translateY(0);
                -ms-transform: translateY(0);
                transform: translateY(0);
            }
            .orientation-landscape #info #info-page .menu .follow {
                left: 235px;
                margin-top: -49px;
            }
        
        #info-page .content {
            position: absolute;
            top: 50px;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 0 20px;
            font-size: 15px;
            display: none;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, .7);
        }
        #info-page .content.visible {
            display: block;
        }
            #info-page .content .scroll {
                padding-bottom: 5px;
            }
            #info-page .content h2 {
                background: #5d1446;
                padding: 10px 18px;
                color: #fff;
                font-weight: bold;
                font-size: 19px;
                margin: 0 -20px 10px -20px;
            }
            #info-page .content h3 {
                color: #84d5f7;
                font-size: 15px;
                font-weight: bold;
                margin-bottom: 10px;
            }
            #info-page .content h4 {
                color: #fff;
                font-size: 15px;
                font-weight: bold;
                margin-bottom: 0;
            }
            #info-page .content p {
                margin-bottom: 17px;
            }
            #info-page .content div {
                margin-bottom: 7px;
            }
            #info-page .content .sep {
                height: 2px;
                margin: 10px -20px;
                -moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, .3) inset, 0 -1px 0 0 rgba(0, 0, 0, .3);
                -webkit-box-shadow: 0 1px 1px 0 rgba(255, 255, 255, .3) inset, 0 -1px 1px 0 rgba(0, 0, 0, .3);
                -ms-box-shadow: 0 1px 0 0 rgba(255, 255, 255, .3) inset, 0 -1px 0 0 rgba(0, 0, 0, .3);
                box-shadow: 0 1px 0 0 rgba(255, 255, 255, .3) inset, 0 -1px 0 0 rgba(0, 0, 0, .3);
            }
            
            #info-page #info-page-tell p {
                margin: 25px 0;
            }
            #info-page #info-page-tell ul {
                list-style-type: none;
            }
                #info-page #info-page-tell ul li {
                    position: relative;
                    margin-bottom: 10px;
                }
                    #info-page #info-page-tell li a {
                        position: relative;
                        display: table-cell;
                        vertical-align: middle;
                        height: 40px;
                        text-decoration: none;
                        color: #84d5f7;
                        padding-left: 50px;
                    }
                        #info-page #info-page-tell li a:before {
                            background: transparent url('/everything.me/images/sprite_info.png') 0 0 no-repeat;
                            content: "";
                            position: absolute;
                            top: 1px;
                            left: 0;
                            width: 42px;
                            height: 40px;
                        }
                        #info-page #info-page-tell li.facebook a:before {
                            background-position: 0 -78px;
                        }
                        #info-page #info-page-tell li.twitter a:before {
                            background-position: 0 -127px;
                        }
                        #info-page #info-page-tell li.google a:before {
                            background-position: 0 -176px;
                        }
                .orientation-landscape #info-page #info-page-tell li a:before {
                    top: 0;
                }
                .orientation-landscape #info-page #info-page-tell ul {
                    overflow: auto;
                }
                .orientation-landscape #info-page #info-page-tell ul li {
                    float: left;
                    width: 33%;
                }
                        
        #info-page-add {
            text-align: center;
        }
        .orientation-landscape #info-page-add {
            text-align: left;
        }
            #info-page #info-page-add h2 {
                text-align: left;
                margin-bottom: 20px;
            }
            .orientation-landscape #info-page #info-page-add h2 {
                margin-bottom: 10px;
            }
            #info-page-add p .tap {
                background: transparent url('/everything.me/images/sprite_info.png') -67px -80px no-repeat;
                display: inline-block;
                vertical-align: middle;
                width: 22px;
                height: 20px;
            }
            #info-page-add .icon {
                position: relative;
                height: 80px;
            }
            .orientation-landscape #info-page-add p {
                padding-right: 95px;
                padding-bottom: 0px;
                line-height: 120%;
            }
            .orientation-landscape #info-page-add .icon {
                position: absolute;
                top: 60px;
                right: 4px;
                width: 100px;
            }
                #info-page-add .icon:before {
                    content: "";
                    background: transparent url('/everything.me/images/sprite_info.png') -60px -127px no-repeat;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    width: 91px;
                    height: 80px;
                    margin-left: -39px;
                }
            #info-page-add .arrow {
                background: transparent url('/everything.me/images/sprite_info.png') -119px -37px no-repeat;
                position: absolute;
                bottom: 6px;
                left: 50%;
                width: 26px;
                height: 61px;
                margin-left: -4px;
            }
#info-home, #info-page {
    -webkit-backface-visibility: hidden;
    -moz-transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
}
#info-home.noanimation, #info-page.noanimation {
    -moz-transition: none;
    -webkit-transition: none;
    -ms-transition: none;
    transition: none;
}
#info-home {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}
#info-page {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}
#info-home.visible, #info-page.visible {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}


#info-link {
    position: absolute;
    top: 11px;
    right: 11px;
    height: 25px;
    line-height: 22px;
    padding-right: 25px;
    opacity: 1;
    z-index: 100;
    cursor: pointer;
    font-size: 16px;
    color: #ccc;
    display: none;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3),
                 0 1px 1px rgba(0, 0, 0, 0.6),
                 0 1px 2px rgba(0, 0, 0, 0.7);
    opacity: .99;
}
    #info-link:after {
        content: "";
        background-position: -80px -79px;
        position: absolute;
        top: 0;
        right: 0;
        width: 25px;
        height: 25px;
        cursor: pointer;
    }
    #info-link.new:after {
        background-position: -80px -111px;
    }
    #info-link:before {
        content: "";
        position: absolute;
        top: -11px;
        right: -11px;
        width: 50px;
        height: 50px;
    }
.orientation-landscape #info-link {
    top: 9px;
}
#info-link.animate {
    -webkit-transition: -webkit-transform .2s linear;
    -moz-transition: -moz-transform .2s linear;
    -ms-transition: -ms-transform .2s linear;
    -o-transition: -o-transform .2s linear;
    transition: transform .2s linear;
}
#info-link.visible {
    /*display: block;*/
}

.orientation-portrait #info-page .pbr {
    display: block;
    height: 0;
}
.orientation-landscape #info-page .lbr {
    display: block;
    height: 0;
}

.env-android #info .buttons .button {
    line-height: 42px;
}
.env-android #info #info-home {
    padding-top: 50px;
}
.env-android.orientation-landscape #info #info-home {
    padding-top: 40px;
}
.env-android #info #info-home .follow {
    bottom: 30px;
}

.env-android #info-page .ios {
    display: none;
}
.env-android #info-page .android {
    display: block;
}

    .env-android #info-page .menu-button {
        background: transparent url('/everything.me/images/sprite_info_android.png') 0 0 no-repeat;
        background-size: 219px 300px;
        display: inline-block;
        width: 30px;
        height: 15px;
        vertical-align: middle;
        position: relative;
        top: -2px;
    }
    .env-android #info-page-tell div {
        display: block;
        width: 217px;
        height: 171px;
        margin: 50px auto 0 auto;
        overflow: hidden;
    }
    .env-android #info-page-tell div:after {
        content: "";
        background: transparent url('/everything.me/images/sprite_info_android.png') 0 -130px no-repeat;
        background-size: 219px 300px;
        display: block;
        width: 218px;
        height: 171px;
        -webkit-mask-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, rgba(137, 49, 109, 0)), color-stop(20%, rgba(137, 49, 109, 0)), color-stop(100%, rgba(137, 49, 109, 1)));
    }
    .env-android #info-page-add {
        text-align: left;
        font-size: 16px;
    }
    .env-android #info-page-add .android {
        position: absolute;
        top: 50%;
        left: 35px;
        right: 35px;
        margin-top: -124px;
    }
    .env-android.orientation-landscape #info-page-add .android {
        margin-top: -57px;
    }
    .env-android #info-page-add .icon {
        position: relative;
        height: 84px;
    }
    .env-android.orientation-landscape #info-page-add .icon {
        position: absolute;
        top: 50%;
        right: 4px;
        margin-top: -46px;
    }
        .env-android #info-page-add .icon:before {
            content: "";
            background: transparent url('/everything.me/images/sprite_info_android.png') 0 -33px no-repeat;
            background-size: 219px 300px;
            position: absolute;
            top: 0;
            left: 50%;
            width: 84px;
            height: 84px;
            margin-left: -42px;
        }
        .env-android.orientation-landscape #info-page-add .icon:before {
            position: absolute;
            top: 0;
            left: auto;
            right: 0;
            margin: 0;
        }
        .env-android #info-page-add ul {
            list-style-type: none;
        }
        .env-android #info-page-add li {
            position: relative;
            padding-left: 24px;
            margin-bottom: 20px;
            vertical-align: middle;
        }
        .env-android #info-page-add li:before {
            content: "-";
            position: absolute;
            top: 50%;
            left: 0;
            margin-top: -20px;
            font-size: 30px;
        }
        .env-android #info-page-add li:nth-child(1):before {
            content: "1";
        }
        .env-android #info-page-add li:nth-child(2):before {
            content: "2";
        }
        .env-android #info-page-add li:nth-child(3):before {
            content: "3";
        }
    .env-android.orientation-landscape #info-page-add ul {
        padding-right: 100px;
    }

    .env-android.orientation-landscape #info-page #info-page-tell h2 {
        margin-bottom: 5px;
    }
    .env-android.orientation-landscape #info-page #info-page-tell p {
        padding-right: 280px;
        margin: 10px 0;
    }
    .env-android.orientation-landscape #info-page-tell div {
        position: absolute;
        top: 60px;
        right: 12px;
        margin: 0;
    }

#infoclose-link,
#info .logo:before,
#info .follow li a:before,
#info-page .header .back,
#info-page-add p .tap, #info-page-add .arrow,
#info-page-add .icon:before,
#info-page #info-page-tell li a:before {
    background-image: url('/everything.me/images/sprite_info.png');
    background-repeat: no-repeat;
    -moz-background-size: 158px 217px;
    -webkit-background-size: 158px 217px;
    -o-background-size: 158px 217px;
    background-size: 158px 217px;
}
