#feed-content {
    font-size: 14px;
    color: #313131;
}
    #feed-content .scroll-wrapper {
        top: 40px;
    }
    #feed-content .scroll-wrapper .content {
        padding: 0 10px;
    }
    #feed-content h2 {
        margin: 10px -10px 0 -10px;
    }
    #feed-content p {
        padding: 10px 0;
    }
    #feed-content .more {
        color: #822464;
        font-size: 17px;
        font-weight: bold;
    }

.env-android #feed-content .for-android, body:not(.env-android) #feed-content .for-iphone  {
    display: block;
}
.env-android #feed-content .for-iphone, body:not(.env-android) #feed-content .for-android {
    display: none;
}

#feed-content .add-intro {
    position: relative;
    padding: 30px 100px 30px 0;
}
    #feed-content .add-intro:before {
        content: "";
        background-position: 0 -100px;
        position: absolute;
        top: 50%;
        right: 0;
        height: 84px;
        width: 80px;
        margin-top: -36px;
    }
    .env-android #feed-content .add-intro:before {
        margin-top: -30px; 
        background-position: 0 0;
    }

    #feed-content .for-iphone {
        position: relative;
        padding-left: 67px;
        margin-top: -10px;
    }
        #feed-content .for-iphone:before {
            content: "";
            background-position: 0 -202px;
            position: absolute;
            top: 50%;
            left: 0;
            height: 44px;
            width: 54px;
            margin-top: -22px;
        }

    #feed-content .for-android {
    }
        #feed-content .for-android {
            
        }
        #feed-content .for-android li {
            position: relative;
            padding: 5px 0 15px 27px;
        }
            #feed-content .for-android li span {
                position: absolute;
                top: 0;
                left: 0;
                font-size: 30px;
            }
            #feed-content .for-android li .menu {
                background-position: 0 -375px;
                position: relative;
                top: -1px;
                display: inline-block;
                vertical-align: middle;
                width: 30px;
                height: 15px;
                margin-left: 4px;
            }
    
#feed-content .follow {
    padding-bottom: 15px;
}
    #feed-content .follow a {
        position: relative;
        display: block;
        font-size: 16px;
        color: #0485af;
        text-decoration: underline;
        margin: 8px 0 0 38px;
        height: 30px;
        line-height: 30px;
    }
        #feed-content .follow a:before {
            content: "";
            position: absolute;
            top: 50%;
            left: -38px;
            width: 32px;
            height: 32px;
            margin-top: -16px;
        }
        #feed-content .follow .facebook a:before { background-position: 0 -276px; }
        #feed-content .follow .twitter a:before { background-position: 0 -324px; }


#feed-content .follow a:before,
#feed-content .add-intro:before,
#feed-content .for-iphone:before,
#feed-content .for-android li .menu {
    background-image: url('/everything.me/images/sprite_info.png?2');
    background-size: 100px 400px;
}